# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# zip
P2/BaseDades.zip

# Folders
P2/base_dades/
P3/base_dades/
P4/base_dades/
P4B/base_dades/


